  .input-section {
    padding: 0px 10px;
  }
  .input-title {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    font-size: 1.1rem;
  }
  
  .word-map {
    padding: 10px;
  }
  
  .textarea {
    width: 90vw;
    height: 25vh;
    background-color: transparent !important;
    color: var(--color-primario) !important;
    border: 2px ridge green;
    font-family: courier, "courier new", monospace;
    padding: 5px 0 0 5px;
    font-size: 1.2rem;
    border-radius: 10px !important;
    resize: none;
  }
  
  .word-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    padding: 5px;
  }
  
  .word {
    padding: 2px;
    grid-column: 1 / 2;
  }
  
  .likeliness-buttons {
    grid-column: 2 / 3;
    display: flex;
    gap: 10px;
  }
  
  .control-buttons {
    border-top: 3px ridge green;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    margin: 10px auto;
  }
  
  .likeliness-buttons button,
  .control-buttons button,
  .reset-button button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    border: 1px solid green;
    color: var(--color-primario);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: courier, "courier new", monospace;
    font-size: 1.2rem;
  }
  
  .likeliness-buttons button:hover,
  .control-buttons button:hover {
    color: black;
    background-color: var(--color-primario);
  }
  
  .error {
    color: red;
  }
  
  .optimal {
    animation: Tilt infinite 1s
  }
  
  @keyframes Tilt {
    50% {
      background-color: var(--color-primario);
      color: black;
    }
    0%, 100% {
      background-color: transparent;
    }
  }
  
  