.content {
    padding: 10px;
    font-size: 0.9rem;
}

.filters {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.filter-item {
    display: contents;
}

.filter-item span {
    display: flex;
    align-items: center;
}

.filter-item input,
.filter-item select {
    width: 100%;
}

.hidden {
    display: none;
}

.column-toggles {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border: 2px ridge var(--color-secundario-oscuro);
    padding: 5px;
}

.column-toggles .form-check {
    text-align: left;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    white-space: pre-line;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: var(--color-primario);
}