:root {
  --color-primario: #22ff22;
}

.App {
  text-align: center;
  background-color: black;
  color: var(--color-primario);
  min-height: calc(100vh - 45px);
  font-family: courier, "courier new", monospace;
  margin-top: 45px;
}

.ir-arriba {
  display:none;
  padding: 5px 5px 5px 5px;
  background: rgba(69, 155, 213, 0.75);
  font-size: 20px;
  color:black;
  /* border: 1px solid black; */
  box-shadow: 0 0 5px 0 #459bd5;
  width:40px;
  text-align: center;
  cursor:pointer;
  position: fixed;
  /* bottom:20px; */
  bottom:2vh;
  right:2.5vw;
  z-index:300;
}
.ir-arriba:hover{
  color: #459bd5;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 #459bd5;
}

.title {
  display: block;
  padding: 20px;
  margin: 0 10px;
  border-bottom: 3px ridge green;
  font-size: 1.2rem;
}

.title.lessPadding {
  padding: 5px 0 5px 0;
}